.searchInput {
    width: 100%;
    border: 1px solid var(--color-secondary);
}
.searchButtonContainer {
    border: 1px solid var(--color-secondary);
    border-radius: 0;
    padding: 0;
}
.searchButton {
    width: 24px;
    height: 24px;
    background: url('../../assets/search.svg') #FFF no-repeat center center;
}